<h2>Editing book</h2>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <br><%= f.label :Title %></br>
  <%= f.text_field :title %>
  
  <br><%= f.label :Body %><br/>
  <%= f.text_area :body %>
  <br><%= f.submit 'Update Book' %><br/>
<% end %>
<%= link_to "Show", books_path(@book.id) %>
<%= link_to "Back", books_path(@book.id) %>